.Image{
    height: 100px;
    border-radius: 25px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: #f0f0f0 solid 1px;
    
}
.Menu{
    display: flex;
    list-style-type: none;
    
    font-family: sans-serif;
    
    
}
.ResCont{
    display: flex;
    flex-wrap: wrap;
    width: 90%
    
    
    
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resCard{
    
    min-height: 300px;
    width: 200px;
    border-radius: 25px;
    margin: 10px;
    padding: 10px
}
.resCard:hover{
    border: 1px solid black;
    cursor: pointer;
}

.Menu>li{
    padding: 10px;
    color: grey;
    font-size: 20px;
    font-weight: 450;
    text-shadow: 2px 2px 4px grey;
    
    
}
.filter{
    margin-top: 10px;
    
}

.but{
    background-color: transparent;
    border: grey solid 1px;
    border-radius: 25px;
    height: 50px;
    color: grey;
    width: 100px;
    cursor: pointer;
}
.signBut{
    background-color: transparent;
    border: grey solid 1px;
    cursor: pointer;
    color: grey;
    border-radius: 10px;
    margin: 5px;
}

.shimer{
    height: 300px;
    width: 200px;
}

.star{
    height: 15px;
}

.cardImage{
    width: 100%;
   
    height: 180px;
    
    border-radius: 10px;
}

.resDetailsCont{
    font-family: sans-serif;
    
  
    
}

p{
    color: grey;
}